.button_log {
    line-height: 20px;
    width: 94px;
    font-size: 13pt;
    font-family: tahoma;
    margin-top: 6px;
    margin-right: auto;
    position: absolute;
    top: 6px;
    right: 10px;
}

.button_user {
    line-height: 21px;
    display: inline-block;
    font-size: 15pt;
    /* width: 336px; */
    /* font-family: tahoma; */
    margin-top: 8px;
    /* margin-right: auto; */
    position: absolute;
    top: 4px;
    right: 113px;

}

.color_bar{
    background-color: #2d2d2d;
}

.button_text_user {
    line-height: 22px;
    display: inline-block;
    font-size: 15pt;
    width: 379px;
    /* font-family: tahoma; */
    margin-top: 8px;
    /* margin-right: auto; */
    position: absolute;
    top: 4px;
    right: 119px;

}

.p{
    padding: 13px 32px;
}

.button_right{
    right: 0;
    bottom: 0;
    position: absolute;
}

.button_margin{
    float: left;
    margin: 0px 9px 0px 5px;
}
.btn {
    min-width: 70px;
}
.btn_add{
    width: 57.5px; margin-right: 2px; float:left
}

.btn_reg{
    float: left; margin-right: 2px
}

.btn_reg_width{
    width: 65.8px
}