<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500 Internal Server Error</title>
    <link href="/templates/Default/css/styles.css" rel="stylesheet">
    <style>
        body {align-items: center;background-color: #f5f5f5;display: flex;height: 100vh;justify-content: center;margin: 0;}
        .container {text-align: center;}
        .container h1 {font-size: 8rem;letter-spacing: 10px;margin: 0;}
        .container h4 {font-size: 1.25rem;font-weight: 300;}
    </style>
</head>
<body>
<div class="container">
    <h1>500</h1>
    <h2>Обнаружена внутренняя ошибка сервера</h2>
    <h3><div   th:text="${error_message}" ></div></h3>
    <h4>Обратитесь в службу поддержки</h4>
    <p class="box_in"><a href="/">Перейти на главную страницу</a></p>
</div>
</body>
</html>