<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Journal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Create Journal</h1>
<form th:action="@{'/tasksJournal/addJournal'}" method="post">
    <table>
        <tr>
            <td><b>Title</b></td>
        </tr>
        <tr>
            <td><input type="text" name="title" placeholder="Введите имя журнала"></td>
        </tr>
    </table>

    <p></p>
    <button style="width: 57.5px; margin-right: 2px; float:left" type="submit" class="btn btn-outline-dark">Add</button>

</form>
<a th:href="@{'/home'}">
    <button style="width: 59px">Cancel</button>
</a>

<!--<a th:href="@{'/tasksJournal/'+${journalId}+'/tasks'}">-->
<!--    <button>Cancel </button>-->
<!--</a>-->
</body>
</html>



