<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1> Create Task</h1>
    <form th:action="@{'/tasksJournal/'+${journalId}+'/addTask/'}" method="post">
        <table>
            <tr>
                <td><b>Title</b></td>
            </tr>
            <tr>
                <td><input type="text" name="title" placeholder="Введите имя задачи"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><b>Description</b></td>
            </tr>
            <tr>
                <td><input type="text" name="description" placeholder="Введите описание задачи"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><b>Task start</b></td>
            </tr>
            <tr>
                <td><input type="datetime-local" name="startDate" placeholder="Начало"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><b>Task end</b></td>
            </tr>
            <tr>
                <td><input type="datetime-local" name="endDate" placeholder="Окончание"></td>
            </tr>
        </table>


        <p></p>
        <button style="width: 57.5px; margin-right: 2px; float:left" type="submit" class="btn btn-outline-dark">Add
        </button>
    </form>

    <a th:href="@{'/tasksJournal/'+${journalId}+'/tasks'}">
        <button>Cancel</button>
    </a>
</body>
</html>



