<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    <h1> AddTask</h1>
    <form action="/addTask" method="post">
    <input type="text" name="title" placeholder="Введите имя задачи">
    <input type="text" name="description" placeholder="Введите описание задачи">
    <input type="datetime-local" name="endDate" placeholder="Дата напомниная">
    <button type ="submit">add Task</button>
    </form>
    </body>
</html>



