<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>

<div sec:authorize="hasRole('ROLE_USER') && !hasRole('ROLE_ADMIN')">Welcome User</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">Welcome Admin</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin}">Посмотреть всех пользователей</a>

</div>

<div>
    <table>
        <tr>
            <td></td>
            <td><b>Id</b></td>
        </tr>
        <tr data-th-each="journal : ${journals}">

            <td><input type="checkbox" th:id="${journal.getId().toString()}" name="task_checkbox"></td>

            <td > <a th:href="@{'/tasksJournal/'+${journal.getId().toString()}+'/tasks'}" data-th-text="${journal.getJournalName()}"> </a></td>
        </tr>
    </table>
</div>

<a th:href="@{'/tasksJournal/addJournal'}">
    <button style="width: 92px" type="button">Create Journal</button>
</a>

<form onsubmit="return false;">
<div>
    <script th:inline="javascript">
        function getCheckedTasks() {
            if(!window.confirm('Do you really want to delete selected tasks?'))
                return false;
            let result = new Array();
            let rows = new Array();
            let checkboxes = document.getElementsByName("task_checkbox");
            let size = checkboxes.length;
            for(let i = 0; i < size; ++i){
                if(checkboxes[i].checked === true){
                    let currentId = checkboxes.item(i).getAttribute("id");
                    result.push(currentId);
                    rows.push(checkboxes.item(i).parentNode.parentNode)
                }
            }
            let parent = rows[0].parentNode;
            let resultStr = result[0];
            for(let i = 1; i< result.length; ++i){
                resultStr = resultStr.concat(',',result[i]);
            }
            let rowsCount = rows.length;
            for(let i = 0; i < rowsCount; ++i){
                parent.removeChild(rows[i]);
            }

            let xhr = new XMLHttpRequest();
            let endpoint = "/tasksJournal/deleteJournal";
            xhr.open("POST", endpoint);
            xhr.send(resultStr);
        }
    </script>
    <button value="Delete" style="float:left; margin-right: 2px" th:onclick="getCheckedTasks()"/>
    Delete Journal</button>

</div>
</form>
<div sec:authorize="isAuthenticated()">
    <h4><a href="/logout">Выйти</a></h4>
</div>
<!--isAuthenticated() - вывод инфы для аутенф пользователей -->
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
</div>
Hello,
<div sec:authentication="name"></div>
</body>
</html>