<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> TaskJournal</h1>
<table
        border="1" cellspacing="5" cellpadding="10">
    <tr>
        <td><b>Title</b></td>
        <td><b>Description</b></td>
        <td><b>Task start</b></td>
        <td><b>Task end</b></td>
        <td><b>Actions</b></td>
    </tr>

    <tr data-th-each="task : ${tasks}">
        <td data-th-text="${task.getValue().getTitle()}">...</td>
        <td data-th-text="${task.getValue().getDescription()}">...</td>
        <td th:text="${#temporals.format(task.getValue().getStartDate(), 'dd-MM-yyyy HH:mm:ss')}">...</td>
        <td th:text="${#temporals.format(task.getValue().getEndDate(), 'dd-MM-yyyy HH:mm:ss')}">...</td>
        <td>
            <form th:action="@{'/tasksJournal/'+${journalId}+'/updateTask/'+ ${task.getValue().getId().toString()}}" >
                <button type="submit" value="update"/>
                Update</button>
            </form>

            <form th:action="@{'/tasksJournal/'+${journalId}+'/deleteTask/'+ ${task.getValue().getId().toString()}}" method="post">
                <script>
                    function clickHandler() {
                        window.confirm("Do you really want to delete task?");
                    }
                </script>
                <button type="submit" value="delete" onclick="clickHandler()"/>
                Delete</button>
            </form>
        </td>
    </tr>
</table>
<section>
    <h1></h1>
</section>
<div>
    <form th:action="@{'/tasksJournal/'+${journalId}+'/addTask/'}" >
        <button type="submit" value="addTask"/>
        addTask</button>
    </form>
</div>
</body>
</html>